{
  "nrn": "organization=1:account=2:namespace=3",
  "cluster_name": "test-cluster",
  "cluster_namespace": "nullplatform",
  "private_lb_name": "internal-alb",
  "public_lb_name": "public-alb",
  "additional_public_names": ["public-alb-2", "public-alb-3"],
  "additional_private_names": ["internal-alb-2"],
  "alb_capacity_threshold": 80,
  "dimensions": "{\"environment\":\"dev\"}"
}
