---
page_title: "Provider: Null Platform"
description: |-
Terraform provider for interacting with Nullplatform API
---

# {{.ProviderShortName}} Provider

Terraform provider for interacting with [Nullplatform API](https://docs.nullplatform.com/api/getting-started).

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
