---
page_title: "Provider: nullplatform"
description: |-
Terraform provider for interacting with nullplatform API
---

# {{.ProviderShortName}} Provider

Terraform provider for interacting with [nullplatform API](https://docs.nullplatform.com/api/getting-started).

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
